@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background: #f9fafb;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}
